* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

a:hover {
    color: grey;
}

header {
    position: relative;
    padding: 0 2rem;
    background: #4A7652;
}

.nav-bar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .logo a {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-bar .logo img {
    height: 60px;
}

.nav-bar .nav-items {
    display: flex;
    gap:2rem;
}

.nav-bar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 80px;
    width: 300px;
    background-color: #4A7652;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10;
}

.dropdown_menu.open {
    height: 170px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}

main{
    height: auto;
}

.uhulu-galerie {
    padding: 50px 20px;
    background: #5a8d64a8;
  }
  
  .uhulu-galerie h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 35px;
    color: white;
    letter-spacing: 1px;
  }
  
  /* GRID */
  .uhulu-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 18px;
  }
  
  /* OBRÁZKY */
  .uhulu-grid img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #4A7652;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
  }
  
  /* HOVER */
  .uhulu-grid img:hover {
    transform: scale(1.5);
    box-shadow: 0 8px 18px rgba(0,0,0,0.35);
  }

footer {
    background-color: #4A7652;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
}

    .adresa {
        flex: 1;
        min-width: 200px;
        box-sizing: border-box;
    }
        .adresa h1 {
            font-size: 2rem;
            padding: 0 0 0.5rem 0;
        }

        .adresa p {
            font-size: 1.5rem;
        }
  
    .oteviraci-doba {
        flex: 1;
        min-width: 200px;
        box-sizing: border-box;
    }

    .oteviraci-doba h1 {
        font-size: 2rem;
        padding: 0 0 0.5rem 0;
    }

    .oteviraci-doba p {
        font-size: 1.5rem;
        padding: 0 0 0.5rem 0;
    }

    .kontakt {
        flex: 1;
        min-width: 200px;
        box-sizing: border-box;
    }
    .kontakt h1 {
        font-size: 2rem;
        padding: 0 0 1rem 0;
    }

    .kontakt a {
        font-weight: 10;
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        padding: 0 0 0 1rem;
    }

    .kontakt a:hover {
        text-decoration: underline;
    }

    .credit {
        padding: 0 0 1rem 0;
    }

    .credit a {
        color: purple;
    }

@media (max-width: 768px) {

    .slideshow-container {
        height: 400px;
    }

    .slideshow-container img {
        height: 400px;
    }

    .box {
        height: 280px;
    }

    .overlay-text h1{
        font-size: 40px;
    }

    .overlay-text p{
        font-size: 25px;
    }

    .nav-bar .nav-items {
        display: none;
    }

    .nav-bar .toggle_btn {
        display:block
    }

    .dropdown_menu {
        display:none;
    }

    .dropdown_menu.open {
        display: block;
    }

    .container {
        flex-wrap: wrap;
        padding: 2rem 0 1rem 0;
    }
    
        .adresa {
            flex: 1;
            min-width: 200px;
            box-sizing: border-box;
        }
            .adresa h1 {
                font-size: 1.5rem;
            }
    
            .adresa p {
                font-size: 1rem;
            }
      
        .oteviraci-doba {
            flex: 1;
            min-width: 200px;
            box-sizing: border-box;
        }
    
        .oteviraci-doba h1 {
            font-size: 1.5rem;
        }
    
        .oteviraci-doba p {
            font-size: 1rem;
        }
    
        .kontakt {
            flex: 1;
            min-width: 200px;
            box-sizing: border-box;
        }
        .kontakt h1 {
            font-size: 1.5rem;
        }
    
        .kontakt p {
            font-size: 1rem;
        }
    
        .kontakt a {
            font-size: 1rem;
            color: #fff;
            text-decoration: none;
        }
}
