* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

a:hover {
    color: grey;
}

header {
    position: relative;
    padding: 0 2rem;
    background: #4A7652;
}

.nav-bar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .logo a {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-bar .logo img {
    height: 60px;
}

.nav-bar .nav-items {
    display: flex;
    gap:2rem;
}

.nav-bar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 80px;
    width: 300px;
    background-color: #4A7652;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10;
}

.dropdown_menu.open {
    height: 170px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}

main{
    height: auto;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 1;
  }
  
  .slides {
    display: flex;
    width: 100%; /* Počet obrázků * 100% */
    height: 100%;
    transition: transform 1s ease;
    padding: 0;
    margin: 0;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
  }

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  .overlay-text h1 {
    font-size: 10rem;
    margin: 0;
  }
  
  .overlay-text p {
    font-size: 2.5rem;
  }


  .napojovy-listek {
    background-color: #5a8d64a8;
    height: auto;
    padding: 2rem 0;
    transition: transform .2s ease;
    display: flex;
    justify-content: center; /* Přidáno pro vodorovné centrování */
    margin: 0;
    text-align: center;
}

.box {
    height: 550px;
    width: 800px;
    overflow: hidden;
    display: inline-block;
}

.img-container {
    position: relative;
    height: 100%;
    width: 100%;
}

button {
    background-color: #4A7652;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color .3s ease;
}

.gap {
    background-color: #4A7652;
}

.container1 {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background: #5a8d64a8;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: none;
    width: 100%;
    margin: auto;
  }

  .container1 .img-section {
    flex: 1 1 40%;
    text-align: center;
  }
  
  .container1 .img-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }

  .container1 .text-section {
    flex: 1 1 60%;
  }
  
  .container1 .text-section h2 {
    margin: 0 0 12px;
    font-size: 2.3rem;
    color: black;
    font-weight: 700;
  }
  
  .container1 .text-section p {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
    color: black;
  }
  

iframe {
    width: 100%;
}

footer {
    background-color: #4A7652;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
}

    .adresa {
        flex: 1;
        min-width: 200px;
        box-sizing: border-box;
    }
        .adresa h1 {
            font-size: 2rem;
            padding: 0 0 0.5rem 0;
        }

        .adresa p {
            font-size: 1.5rem;
        }
  
    .oteviraci-doba {
        flex: 1;
        min-width: 200px;
        box-sizing: border-box;
    }

    .oteviraci-doba h1 {
        font-size: 2rem;
        padding: 0 0 0.5rem 0;
    }

    .oteviraci-doba p {
        font-size: 1.5rem;
        padding: 0 0 0.5rem 0;
    }

    .kontakt {
        flex: 1;
        min-width: 200px;
        box-sizing: border-box;
    }
    .kontakt h1 {
        font-size: 2rem;
        padding: 0 0 1rem 0;
    }

    .kontakt a {
        font-weight: 10;
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        padding: 0 0 0 1rem;
    }

    .kontakt a:hover {
        text-decoration: underline;
    }

    .credit {
        padding: 0 0 1rem 0;
    }

    .credit a {
        color: purple;
    }

@media (max-width: 768px) {

    .slideshow-container {
        height: 400px;
    }

    .slideshow-container img {
        height: 400px;
    }

    .box {
        height: 280px;
    }

    .overlay-text h1{
        font-size: 40px;
    }

    .overlay-text p{
        font-size: 25px;
    }

    .nav-bar .nav-items {
        display: none;
    }

    .nav-bar .toggle_btn {
        display:block
    }

    .dropdown_menu {
        display:none;
    }

    .dropdown_menu.open {
        display: block;
    }

    .container1 {
        flex-direction: column;
        text-align: center;
      }
    
      .text-section h2 {
        font-size: 1rem;
      }

        .text-section p {
            font-size: 0.5rem;
    }

    .container {
        flex-wrap: wrap;
        padding: 2rem 0 1rem 0;
    }
    
        .adresa {
            flex: 1;
            min-width: 200px;
            box-sizing: border-box;
        }
            .adresa h1 {
                font-size: 1.5rem;
            }
    
            .adresa p {
                font-size: 1rem;
            }
      
        .oteviraci-doba {
            flex: 1;
            min-width: 200px;
            box-sizing: border-box;
        }
    
        .oteviraci-doba h1 {
            font-size: 1.5rem;
        }
    
        .oteviraci-doba p {
            font-size: 1rem;
        }
    
        .kontakt {
            flex: 1;
            min-width: 200px;
            box-sizing: border-box;
        }
        .kontakt h1 {
            font-size: 1.5rem;
        }
    
        .kontakt p {
            font-size: 1rem;
        }
    
        .kontakt a {
            font-size: 1rem;
            color: #fff;
            text-decoration: none;
        }
}