* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

a:hover {
    color: grey;
}

header {
    position: relative;
    padding: 0 2rem;
    background: #4A7652;
}

.nav-bar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .logo a {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-bar .nav-items {
    display: flex;
    gap:2rem;
}

.nav-bar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 80px;
    width: 300px;
    background-color: #4A7652;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10;
}

.dropdown_menu.open {
    height: 170px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}
  
body {
    text-align: center;
    font-family: sans-serif;
  }
.menu{
    background-color: #5a8d64a8;
}
  img {
    padding-top: 1rem;
    max-width: 90%;
    height: 950px;
    border-radius: 20px;
  }

  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4A7652;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }

  button:hover {
    background-color: #3a5b42; 
  }
  

  footer {
    background-color: #4A7652;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
}

    .adresa {
        flex: 1;
        min-width: 200px;
        box-sizing: border-box;
    }
        .adresa h1 {
            font-size: 2rem;
            padding: 0 0 0.5rem 0;
        }

        .adresa p {
            font-size: 1.5rem;
        }
  
    .oteviraci-doba {
        flex: 1;
        min-width: 200px;
        box-sizing: border-box;
    }

    .oteviraci-doba h1 {
        font-size: 2rem;
        padding: 0 0 0.5rem 0;
    }

    .oteviraci-doba p {
        font-size: 1.5rem;
        padding: 0 0 0.5rem 0;
    }

    .kontakt {
        flex: 1;
        min-width: 200px;
        box-sizing: border-box;
    }
    .kontakt h1 {
        font-size: 2rem;
        padding: 0 0 1rem 0;
    }

    .kontakt a {
        font-weight: 10;
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        padding: 0 0 0 1rem;
    }

    .kontakt a:hover {
        text-decoration: underline;
    }

.credit {
    padding: 0 0 1rem 0;
}

    .credit a {
        color: purple;
    }

@media (max-width: 768px) {

    .nav-bar .nav-items {
        display: none;
    }

    .nav-bar .toggle_btn {
        display:block
    }

    .dropdown_menu {
        display:none;
    }

    .dropdown_menu.open {
        display: block;
    }

    img{
        height: 500px;
    }
    .container {
        flex-wrap: wrap;
        padding: 2rem 0 1rem 0;
    }
    
        .adresa {
            flex: 1;
            min-width: 200px;
            box-sizing: border-box;
        }
            .adresa h1 {
                font-size: 1rem;
            }
    
            .adresa p {
                font-size: 1rem;
            }
      
        .oteviraci-doba {
            flex: 1;
            min-width: 200px;
            box-sizing: border-box;
        }
    
        .oteviraci-doba h1 {
            font-size: 1.5rem;
        }
    
        .oteviraci-doba p {
            font-size: 1rem;
        }
    
        .kontakt {
            flex: 1;
            min-width: 200px;
            box-sizing: border-box;
        }
        .kontakt h1 {
            font-size: 1.5rem;
        }
    
        .kontakt p {
            font-size: 1rem;
        }
    
        .kontakt a {
            font-size: 1.5rem;
            color: #fff;
            text-decoration: none;
        }
}